<footer>
  <div class="container">
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfJLMU01Mv5q5xbY2B0ZT9L4dxettNKjnmuWBV2-XHbprGHRw/viewform" target="_blank" rel="noopener">
      Sugerir uma marmita {% include "components/top.njk" %}
    </a>
  </div>
</footer>
