<footer>
  <div class="container">
    <div class="row">
      <div class="col -size-6@xs">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSfJLMU01Mv5q5xbY2B0ZT9L4dxettNKjnmuWBV2-XHbprGHRw/viewform" target="_blank" rel="noopener">
          <h4>Recomendar uma marmita
            {% include "components/top.njk" %}</h4>
        </a>
      </div>
      <div class="col -size-6@xs h-text-right@xs">
        Uma iniciativa <a href="https://twitter.com/vtrpldn" target="_blank" rel="noopener">pa</a><a href="https://twitter.com/edgardkozlowski" target="_blank" rel="noopener">koz</a><a href="https://twitter.com/kiwistian" target="_blank" rel="noopener">kai</a> - CC0
      </div>
    </div>
  </div>
</footer>
