<header>
  <div class="container">
    <h1>marmitas.{% include "components/top.njk" %}</h1>
    <p>
      vc {% include "components/top.njk" %}, quer comer uma comida {% include "components/top.njk" %} num preço {% include "components/top.njk" %}?
    </p>
    <a href="https://instagram.com/marmitas.top" target="_blank" rel="noopener">
      instagram.com/marmitas.top
    </a>
  </div>
</header>
