{% extends "layouts/base.njk" %}
{% import "components/card.njk" as card %}

{% block content %}
  <div class="container">
    {% for city, marmitas in app.marmitas %}
      <div class="row">
        <div class="col -size-12@xs">
        </div>
      </div>
      <div class="row">
        <div class="col -size-12@xs">
          <ul class="card-grid">
            <h3 class="card-grid__title">{{ app.cities[city] }}</h3>
            {% for marmita in marmitas %}
              <li class="card-grid__item">{{ card.template(marmita) }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
