{% extends "layouts/base.njk" %}
{% import "components/card.njk" as card %}

{% block content %}
  <div class="container">
    {% for city, marmitas in app.marmitas %}
      <h3>{{ app.cities[city] }}</h3>
      <br>
      <ul>
        {% for marmita in marmitas %}
          <li>
            <div class="row">
              <div class="col -size-8@sm">
                {{ card.template(marmita) }}
              </div>
            </div>
          </li>
          <br>
          <br>
        {% endfor %}
      </ul>
    {% endfor %}
  </div>
{% endblock %}
