html
	font-size: app.baseFontSize
	font-family: fonts.main

body
	line-height: 1.4

h1
	font-size: 48px

h2
	font-size: 36px

h3
	font-size: 28px

h4
	font-size: 22px

h5
	font-size: 18px

a
	color: blue
	&:hover
		text-decoration: underline

buildRolleiflex()
